
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url(fondo.jpg) center/cover no-repeat;

}

.container {
    width: 40%;
    margin: 0 auto;
    border: 3px solid #ccc;
    padding: 50px;
    border-radius: 10px;
    background: url(N.jpg) center/cover no-repeat, #bfe1e2; /* Agregar color de fondo alternativo */
    
}


h1 {
    color: #333;
}
form {
    text-align: left;
}
.form-group {
    margin-bottom: 15px;
    
}
label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px; /* Espacio entre etiquetas y campos de entrada */
        font-size: 14px; /* Tamaño de fuente opcional */

    
}
input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
input[type="radio"] {
    margin-right: 60px;
    
}
button[type="submit"],
button[type="button"] {
    padding: 10px 20px; /* Espacio alrededor del texto del botón */
    margin-right: 10px; /* Espacio entre botones si están juntos */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente opcional */
}

button[type="submit"] {
    background-color: rgb(0, 109, 128);
    color: white;
}

button[type="button"] {
    background-color: rgb(246, 115, 189);
    color: white;
}


.success-message {
    color: green;
    font-weight: bold;
    
}
